body{
    font-family: Arial, sans-serif;
    text-align:center;
    background-color:#f4f4f4;
    padding:20px;
}

h1{
    color:#0066cc;
}

h2{
    color:#222;
}

p,li{
    font-size:18px;
}

ul{
    list-style-position:inside;
}

img{
    display:block;
    margin:auto;
}
